/* components/Navbar.module.css */

.navbar {
  padding: 1rem 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

.navbarContent {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarLeft,
.navbarRight {
  display: flex;
  align-items: center;
}

.navbarBrand {
  font-size: 1.25rem;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.15s ease;
}

.navbarBrand:hover {
  color: #888888;
}

.lightModeTextColor {
  color: #000000;
}

.darkModeTextColor {
  color: #ffffff;
}

.lightModeBorder {
  border-bottom: 1px solid #000000;
}

.darkModeBorder {
  border-bottom: 1px solid #ffffff;
}


.toggleDarkMode {
  border-radius: 50%;
  width: 2.5em; /* Adjust size as needed */
  height: 2.5em; /* Adjust size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.15s ease, color 0.15s ease;
  font-size: 1.2em; /* Ensure the icon is a good size */
}

.toggleDarkMode:hover {
  background-color: rgba(136, 136, 136, 0.1); /* Subtle grey background on hover */
  color: #2795e9; /* Keep the existing color change */
}

/* Responsive Design */
@media (max-width: 640px) {
  .navbarContent {
    padding: 0 1.5rem;
  }

  .navbarBrand {
    font-size: 1.125rem;
  }
}

.hidden {
  visibility: hidden;
}