@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  --notion-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif;
  font-family: var(--notion-font);
  overflow-x: hidden;
  background-color: var(--bg-color); /* Add this line */

  --dropdown-arrow-light: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236B7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
  --dropdown-arrow-dark: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
}

body.light-mode {
  --dropdown-arrow: var(--dropdown-arrow-light);
  --fg-color: #374151; /* text-gray-700 */
  --fg-color-1: #4b5563; /* text-gray-600 */
  --fg-color-2: #6b7280; /* text-gray-500 */
  --fg-color-3: #9ca3af; /* text-gray-400 */
  --fg-color-link-hover: #1e40af; /* blue-700 */

  --border-color: #e0e0e0; /* A light grey for light mode */
  --border-color-2: #d1d5db; /* gray-300 */
  --search-bg-color: var(--bg-color);
  --bg-color-1: #f9fafb; /* gray-50 */
}

body.dark-mode {
  --dropdown-arrow: var(--dropdown-arrow-dark);
  --fg-color: #e5e7eb; /* text-gray-200 */
  --fg-color-2: #d1d5db; /* text-gray-300 */
  --fg-color-3: #6b7280; /* text-gray-500 */
  --fg-color-link-hover: #93c5fd; /* blue-300 */

  --border-color: #444444; /* A dark grey for dark mode */
  --border-color-2: #4b5563; /* gray-700 */
  --search-bg-color: var(--bg-color);
  --bg-color-1: #374151; /* gray-700 */
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #F5F5F5;
  background-color: var(--bg-color-1);
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: var(--fg-color-1);
}

::-webkit-scrollbar-track {           
    background-color: var(--bg-color);
}